.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header__navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation ul li {
  list-style: none;
  font-size: 1.8rem;
  font-family: var(--font-style-regular);
  margin: 0 1rem;
}

.header__navigation ul li a {
  text-decoration: none;
}

.header__btn a {
  font-family: var(--font-style-bold);
  text-decoration: none;
  font-size: 1.8rem;
}
